// Fuentes
$fuentePrincipal: "Open Sans", sans-serif;

// Tamaño de Media Queries
$celular: 480px;
$tablet: 768px;

$primario:#0e0f0f; 
$agua: #2ee0e0;
$oscuro: #000;
$blanco: #FFF;
$gris: #4d5252;
$testimonios: #C39A76;

