@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

#barra {
    position: fixed;
    top: 0;
    z-index:100;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: transparent;
    width: 100%;
}
